* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

:root {
  --primary-color: #448899;
  --secondary-color: #666666;
  --secondary-color-50: #757575;
  --secondary-color-20: #e8e8e8;
}

body {
  max-width: 1920px;
  margin: auto 0;
  height: 100%;
}

div.login {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  justify-items: center;
  align-items: center;
  z-index: 99;
}
div.login div.login-container {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -10px);
  background-color: #fff;
  width: 340px;
  height: 275px;
  border-radius: 6px;
  padding: 0 15px;
  box-sizing: border-box;
}
div.login div.login-container .close {
  position: absolute;
  right: 17px;
  top: 30px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
div.login div.login-container div.text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #666666;
  margin-top: 25px;
  margin-bottom: 15px;
}
div.login div.login-container div.data input {
  height: 47px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
}
div.login div.login-container div.btn button {
  border-radius: 5px;
  width: 100%;
  height: 47px;
  font-size: 19px;
  color: #ffffff;
  background: #448899;
  line-height: 36px;
  text-decoration: none;
  padding-top: 10px 20px 10px 20px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
div.login div.login-container div.forgot {
  text-align: center;
  color: #666666;
}
div.login div.login-container div.forgot p.login-message {
  display: none;
}
div.login div.login-container div.forgot span.signup-text {
  cursor: pointer;
}
div.login div.login-container::before {
  content: "";
  position: absolute;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #448899;
  border-radius: 6px 6px 0 0;
}

div.signup div.login-container {
  height: 332px;
}
div.signup div.login-container div.forgot p.signup-message {
  display: none;
}
div.signup div.login-container div.forgot span.login-text {
  cursor: pointer;
}

header {
  max-width: 1920px;
  height: 54px;
  line-height: 54px;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: #ffffff;
}
header div.head {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
header div.head h4 {
  font-size: 30px;
  font-weight: 1000;
  color: #448899;
  cursor: pointer;
}
header div.head nav ul {
  display: flex;
  justify-content: flex-end;
}
header div.head nav ul li {
  list-style-type: none;
}
header div.head nav ul img.account {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 8px;
  cursor: pointer;
  display: none;
}
header div.head nav ul img.cart {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  cursor: pointer;
  display: none;
}
header div.head nav ul a.list {
  display: none;
}
header div.head nav ul a.show {
  margin-left: 1rem;
  list-style-type: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}
header div.head nav ul img.show-icon {
  display: flex;
}

div.error-div {
  text-align: center;
}
div.error-div img {
  width: 280px;
  height: 280px;
  margin: 50px 0;
}
div.error-div h1 {
  font-size: 28px;
  color: var(--secondary-color-50);
  margin-bottom: 30px;
}
div.error-div button {
  border-radius: 5px;
  width: 100px;
  height: 36px;
  font-size: 19px;
  color: #ffffff;
  background: #448899;
  line-height: 36px;
  text-decoration: none;
  padding-top: 10px 20px 10px 20px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

footer {
  background-color: #757575;
  height: 104px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  line-height: 104px;
  width: 100%;
  bottom: 0;
}
footer p {
  font-size: 16px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */