<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font  setting -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <!-- -- css setting  -- -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/attraction/style.css') }}"
    />

    <title></title>
  </head>
  <body>
    <div class="login" id="login">
      <div class="login-container">
        <img
          src="{{url_for('static',filename='images/icon_close.png')}}"
          alt=""
          class="close"
        />
        <div class="text">登入會員帳號</div>
        <form>
          <div class="data">
            <input
              type="email"
              name="email"
              placeholder="輸入電子信箱"
              class="login-email"
              required
            />
          </div>
          <div class="data">
            <input
              type="password"
              name="password"
              placeholder="輸入密碼"
              class="login-password"
              required
            />
          </div>
          <div class="btn">
            <button type="submit" class="login-submit">登入帳號</button>
          </div>
          <div class="forgot">
            <p class="login-message"></p>
            <span>還沒有帳號? </span><span class="signup-text">點此註冊</span>
          </div>
        </form>
      </div>
    </div>

    <div class="login signup" id="signup">
      <div class="login-container" id="signup-container">
        <img
          src="{{url_for('static',filename='images/icon_close.png')}}"
          alt=""
          class="close close-signup"
        />
        <div class="text">註冊會員帳號</div>
        <form>
          <div class="data">
            <input
              type="text"
              name="name"
              placeholder="輸入姓名"
              class="signup-name"
              required
            />
          </div>
          <div class="data">
            <input
              type="email"
              name="email"
              placeholder="輸入電子信箱"
              class="signup-email"
              required
            />
          </div>
          <div class="data">
            <input
              type="password"
              name="password"
              placeholder="輸入密碼"
              class="signup-password"
              required
            />
          </div>
          <div class="btn">
            <button type="submit" class="signup-submit">註冊新帳號</button>
          </div>
          <div class="forgot">
            <p class="signup-message"></p>
            <span>已經有帳戶了? </span><span class="login-text">點此登入</span>
          </div>
        </form>
      </div>
    </div>

    <header>
      <div class="head">
        <h4 onclick="javascript:location.href='/'">台北一日遊</h4>
        <nav>
          <ul>
            <!-- <li>
						<a class="member list">會員頁面</a>
					</li> -->
            <li>
              <a class="booking list">預定行程</a>
            </li>
            <li class="nav-list">
              <a class="nav list"
                ><span class="login-btn">登入 </span
                ><span class="signup-btn">/註冊</span></a
              >
            </li>
            <li>
              <a class="logout-btn list" onclick="logout()">登出系統</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <hr />

    <main>
      <section class="container">
        <div class="left">
          <div class="images">
            <!-- 
                    <img src="https://picsum.photos/540/406?random=5" alt="" class="image"> -->
          </div>
          <div onclick="sideSlide(-1)" class="slide-left">
            <img
              src="{{url_for('static',filename='images/leftArrow.png')}}"
              alt=""
            />
          </div>
          <div onclick="sideSlide(1)" class="slide-right">
            <img
              src="{{url_for('static',filename='images/rightArrow.png')}}"
              alt=""
            />
          </div>

          <div class="btn-sliders">
            <!-- 
                    <span  class="white" onClick=btnSlide(5)></span> -->
          </div>
        </div>

        <div class="right">
          <div class="right-content"></div>
          <!-- <h1>平安鐘</h1>
             <h2>公共藝術 at 忠孝復興</h2> -->
          <div class="booking">
            <h1>訂購導覽行程</h1>
            <h2>以此景點為中心的一日行程，帶你探索城市角落故事</h2>

            <label for="Date of Birth" class="date">
              選擇日期:
              <input type="date" name="date" placeholder="dd-mm-yyyy" />
            </label>
            <br />
            <label for="" class="time">
              選擇時間:

              <label for="morning" class="radio">
                <input
                  type="radio"
                  id="morning"
                  name="expense"
                  value="morning"
                  class="radio_input"
                  checked
                />
                <div class="radio_radio"></div>
                上半天
              </label>

              <label for="afternoon" class="radio">
                <input
                  type="radio"
                  id="afternoon"
                  name="expense"
                  value="afternoon"
                  class="radio_input"
                />
                <div class="radio_radio"></div>
                下半天 </label
              ><br />
            </label>

            <h3>導覽費用:<span class="cost">新台幣2000元</span></h3>

            <button>開始預約行程</button>
          </div>
        </div>
      </section>
      <hr class="second" />

      <section class="des">
        <div>
          <p class="description"></p>

          <h1>景點地址 :</h1>
          <h2 class="address"></h2>

          <h1>交通方式 :</h1>
          <h2 class="transport"></h2>
        </div>
      </section>
    </main>
    <footer>
      <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>
  </body>
  <script src="{{ url_for('static',filename='js/login.js') }}"></script>

  <script src="{{ url_for('static',filename='js/attraction.js') }}"></script>
</html>
