{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/attraction/style.css') }}"
/>

{% endblock %} {% block title %}
<title class="title"></title>
{% endblock %} {% block body %}

<div class="submit">
  <div class="submit-container">
    <img
      src="{{url_for('static',filename='images/icon_close.png')}}"
      alt=""
      class="submit-close"
    />
    <div class="submit-message">請選擇日期與時間</div>
    <div class="schedule">
      <img src="{{url_for('static',filename='images/schedule.png')}}" alt="" />
    </div>
  </div>
</div>

<hr />
<main>
  <section class="container">
    <div class="left">
      <div class="images">
        <!-- 
                <img src="https://picsum.photos/540/406?random=5" alt="" class="image"> -->
      </div>
      <div onclick="sideSlide(-1)" class="slide-left">
        <img
          src="{{url_for('static',filename='images/leftArrow.png')}}"
          alt=""
        />
      </div>
      <div onclick="sideSlide(1)" class="slide-right">
        <img
          src="{{url_for('static',filename='images/rightArrow.png')}}"
          alt=""
        />
      </div>

      <div class="btn-sliders">
        <!-- 
                <span  class="white" onClick=btnSlide(5)></span> -->
      </div>
    </div>

    <div class="right">
      <div class="right-content"></div>
      <!-- <h1>平安鐘</h1>
         <h2>公共藝術 at 忠孝復興</h2> -->
      <div class="booking">
        <h1>訂購導覽行程</h1>
        <h2>以此景點為中心的一日行程，帶你探索城市角落故事</h2>

        <label for="Date of Birth" class="date">
          選擇日期:
          <input type="date" name="date" id="datePicker" value="" min="" />
        </label>
        <br />
        <label for="" class="time">
          選擇時間:

          <label for="morning" class="radio">
            <input
              type="radio"
              id="morning"
              name="expense"
              value="morning"
              class="radio_input"
            />
            <div class="radio_radio"></div>
            上半天
          </label>

          <label for="afternoon" class="radio">
            <input
              type="radio"
              id="afternoon"
              name="expense"
              value="afternoon"
              class="radio_input"
            />
            <div class="radio_radio"></div>
            下半天 </label
          ><br />
        </label>

        <h3>導覽費用:<span class="cost">新台幣 元</span></h3>

        <button class="booking-btn">開始預約行程</button>
      </div>
    </div>
  </section>
  <hr class="second" />

  <section class="des">
    <div>
      <p class="description"></p>

      <h1>景點地址 :</h1>
      <h2 class="address"></h2>

      <h1>交通方式 :</h1>
      <h2 class="transport"></h2>
    </div>
  </section>
</main>

{% endblock %} {% block script %}
<script src="{{ url_for('static',filename='js/login.js') }}"></script>

<script src="{{ url_for('static',filename='js/attraction.js') }}"></script>
{% endblock %}
