{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/booking/style.css') }}"
/>

{% endblock %} {% block title %}
<title>預定行程</title>
{% endblock %} {% block body %}
<main>
  <h1 class="title"></h1>
  <section class="booking-section">
    <div class="load">
      <img
        src="{{url_for('static',filename='images/loading.gif')}}"
        alt=""
        class="load-img"
      />
    </div>
    <!-- <div class="booking-area">
      <div class="booking-pic">
        <link rel="preload" href="https://picsum.photos/400/300?random=1" />
      </div>
      <div class="booking-detail">
        <h3>台北一日遊：平安鐘</h3>
        <h4>日期：</h4>
        <h4>時間：</h4>

        <h4>費用：<span>2000元</span></h4>
        <h4>地點：</h4>
      </div>
      <div class="delete-img">
        <img
          src="{{url_for('static',filename='images/icon_delete.png')}}"
          alt=""
        />
      </div>
    </div> -->
  </section>

  <section class="isBooking">
    <hr class="second" />

    <div class="contact">
      <h2>你的聯絡資訊</h2>

      
        <div>
          <label for="contactName">聯絡姓名: </label>
          <input type="text" name="contactName" />
        </div>
        <div>
          <label for="contactEmail"> 連絡信箱:</label>
          <input type="email" name="contactEmail" />
        </div>
        <div>
          <label for="contactPhone">手機號碼:</label>
          <input type="tel" name="contactPhone" class="contactPhone" required/>
          <label for="" class="failMessage"></label>
        </div>

        <h2>
          請保持手機暢通，準時到達，導覽人員將用手機與你聯繫，務必留下正確的聯絡方式。
        </h2>
    </div>
      <hr class="second" />
  
      <div class="contact">
        <h2>信用卡付款資訊</h2>
  
        <div class="card-container" >
  
          <div class="card-div">
            <label for="credit">卡片號碼: </label>
  
            <div class="tpfield" id="card-number">
            </div>
  
          </div>
         
        <div class="card-div">
          <label for="credit-time">日期時間:</label>
        <div class="tpfield" id="card-expiration-date"></div>
        </div>
  
        
  
        <div class="card-div">
          <label for="credit-password">驗證密碼:</label>
        <div class="tpfield" id="card-ccv"></div>
        </div>
  
        
      </div>
  
  

      <div class="pay">
        
        <p class="totalCost"></p>
        <div>
          <button disabled type="button" class="submit-button">
            確認訂購並付款
          </button>
        </div>
      </div>

    
  </section>

  
</main>
<div class="submit">
  <div class="submit-container">
    <img
      src="{{url_for('static',filename='images/icon_close.png')}}"
      alt=""
      class="submit-close"
      onclick="close_error()"
    />
    <div class="submit-message"></div>
    <div class="schedule">

      <figure>
        <img src="{{url_for('static',filename='images/loading.gif')}}" />
      </figure>
      
    </div>
  </div>
</div>

{% endblock %} {% block script %}


<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>

<script src="{{ url_for('static',filename='js/booking.js') }}"></script>
{% endblock %}
