{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/404/style.css') }}"
/>

{% endblock %} {% block title %} <title>找不到此分頁</title>{% endblock %} {%
block body %}
<div class="error-div">
  <img
    src="{{url_for('static',filename='images/thank.png')}}"
    alt=""
    style="width: 130px; height: 130px"
  />
  <h1 style="font-size: 24px; font-weight: 700">行程預定成功</h1>
  <h1 style="font-size: 24px; font-weight: 700">你的訂單編號如下</h1>
  <h1 class="order_number"></h1>
  <h1 style="font-size: 20px; font-weight: 400">可前往會員頁面管理訂單</h1>
  <button class="back-btn" style="margin-bottom: 80px">會員頁面</button>
</div>

{% endblock %} {% block script %}
<script>
  const backBtn = document.querySelector('.back-btn');
  backBtn.addEventListener('click', () => {
    window.open('/member', '_self');
  });
  let params = new URLSearchParams(window.location.search);
  let orderNumber = params.get('number');
  document.querySelector('.order_number').innerText = orderNumber;
</script>

{% endblock %}
